input[type="range"] {
    position: relative;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

#v_map {
    width: 100%;
}

.legend {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 4;
}

.leaflet-map-pane {
    position: relative;
    z-index: 1;
}

.legendTitle {
    text-anchor: middle;
    font-size: 1.5rem;
    font-variant: small-caps;
    fill: #4F4F4F;
    font-weight: 300;
}

.axis path,
.axis tick,
.axis line {
    fill: none;
    stroke: none;
}
#v_map_bg {
    display: none;
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-width: 1200px) {
    #v_map_bg {
        display: block;
        position: absolute;
        left: 0px;
        z-index: -1;
        transform: translateY(29%) translateX(5.2%) scale(0.85);
    }
}
.d3-tip {
    position: relative;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}